* {
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica;
}
h1 {
	color: white;
	background: orange;
	text-align: center;
}
table {
	/*border: 2px solid black;*/
	width: 100%;
	table-layout: auto;
	/*margin:;*/
	padding: 0px;
}
td {
	border: 2px solid black;
	padding: 10px;
	text-align: center;
}
li {
	font-size: 1.2em;
}
p {
	font-size: 1.2em;
}
#true {
	color: green;
}
#false {
	color: red;
}
img {
	display: block;
	width: 100%;
}
h2 {
	padding: 0 0 0 10px;
}
#instructions {
	/*border: 1px solid grey;*/
	margin: 10px 0 20px 0;
	padding: 0 5px 0 5px;
}
#submitButton {
	text-align: center;
}
#example_yes {
	border: 2px green solid;
	width: 25%;
}
#example_no {
	border: 2px red solid;
	width: 25%;
}
.comment_input {
	display: block;
	/*margin: 0px auto;*/
	font-size: 18px;
	width: 400px;
	height: 50px;
}